﻿@page
@inherits TestApp.Web.Pages.TestAppPage
@model TestApp.Web.Pages.IndexModel
@* ReSharper disable Razor.SectionNotResolved *@
@section styles {
    <abp-style-bundle>
        <abp-style src="/Pages/Index.css" />
    </abp-style-bundle>
}
@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/Index.js" />
    </abp-script-bundle>
}
@* ReSharper restore Razor.SectionNotResolved *@
<div class="jumbotron text-center">
    <h1>@L["Welcome"]</h1>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <p>@L["LongWelcomeMessage"]</p>
            <hr class="my-4"/>
        </div>
    </div>
    <a href="https://abp.io?ref=tmpl" target="_blank" class="btn btn-primary px-4">abp.io</a>
    @if (!CurrentUser.IsAuthenticated)
    {
        <a abp-button="Primary" href="/Account/Login" class="px-4"><i class="fa fa-sign-in"></i> @L["Login"]</a>
    }
</div>